<!DOCTYPE html>
<html>
    <head><title>codepanchayati</title></head>
    <body bgcolor="#FFEACA">
        <center>
        <h1>RESERVOIR WATER LEVEL PREDICTOR</h1>
        <form method = 'POST' ,action="{{url_for('home')}}">
            Reservoir level in Feet : <input type="text" , name="a",placeholder="Enter Reservoir level in Ft"> <br>
            Inflow cuesecs : <input type="text", name="b" ,placeholder = "Enter Inlow cusecs ">  <br>
            Outflow cuesecs : <input type="text" name="c" ,placeholder = 'Enter Outflow cusecs'> <br>
            <input type="submit" value="  Predict  " >
        
        
        </form>
        
        <img src="https://images.unsplash.com/photo-1515694346937-94d85e41e6f0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmFpbiUyMG9uJTIwZ2xhc3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="rain">
    </center>
    </body>
</html>